* {
    font-family: helvetica;
}

body {
    margin: 0;
}

#background {
    background-image: url('../images/smoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 110px;
    width: 110px;
    float: left;
    display: inline-block;
}

.clear {
    clear: both;
}

#nav {
    background-color: rgb(52, 49, 45);
    color: white;
    width: 100%;
}

.nav {
    float: right;
    list-style: none;
    text-align: left;
    margin: 0;
}

.nav>li {
    display: Inline-block;
    padding: 45px 40px 10px 9px;
}

.nav>li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

.nav>li>a:hover {
    color: red;
}

.assassins {
    color: white;
    text-decoration: white;
}

.flex-container {
    height: 500px;
    width: 900px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 90px;
}

.all-content {
    margin-left: 8%;
}

.assassin-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 220px;
    height: 200px;
    padding-left: 60px;
}

.addButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}
#add {
    border: none;
    padding: .5rem 1rem;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

#edit {
    border: none;
    padding: .5rem 1rem;
    background: green;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

#delete {
    border: none;
    padding: .5rem 1rem;
    background: red;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.flexrow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
}

.assassins-box {
    height: 400px;
    width: 400px;
    font-size: 30px;
    color: red;
    background-color: rgb(255, 0, 0);
}

.contracts-box {
    height: 400px;
    width: 400px;
    font-size: 30px;
    color: red;
    background-color: red;
}

.assassin-container {
    background-color: antiquewhite;
    height: 650px;
    width: 60%;
    margin-left: 20%;
}

/* @media only screen and (max-width: 800px) {
    .assassin-container {
        display: flex;
        justify-content: center;
    }
} */

.image-container {
    display: flex;
    justify-content: flex-start;
    color: black;
    height: 60px;
    width: 60px;
}

.forms-container {
    padding-left: 30px;
}

.forms-container2 {
    padding-left: 30px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.active-assassins>strong {
    font-size: 25px;
}