* {
    font-family: helvetica;
}

body {
    margin: 0;
}

#background {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

#kb {
    font-size: 60px;
    padding-right: 30%;
}

.nav-item {
    color: black;
}

.assassins {
    color: white;
    text-decoration: white;
}

.all-content-assassins {
    padding-left: 50px;
}

.flex-container {
    height: 500px;
    width: 900px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
}

#add {
    border: none;
    padding: .5rem 1rem;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

#edit {
    border: none;
    padding: .5rem 1rem;
    background: green;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

#delete {
    border: none;
    padding: .5rem 1rem;
    background: red;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.assassins-box {
    height: 400px;
    width: 400px;
    font-size: 30px;
    color: black;
}

.contracts-box {
    height: 400px;
    width: 400px;
    font-size: 30px;
    color: black;
}

.assassin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 680px;
    width: 60%;
    margin-left: 20%;
}

.buttons{
    padding-left: 350px;
}

.assassin-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    height: 680px;
    width: 60%;
    margin-left: 20%;
}



#image-container {
    display: flex;
    justify-content: flex-start;
    color: black;
    height: 70px;
    width: 70px;
}

.forms-container {
    padding-left: 30px;
}

.forms-container2 {
    padding-left: 30px;
}

.active-assassins>strong {
    font-size: 25px;
}

.active-assassins {
    padding-left: 20px;
}

.left-form {
    width: 250px;
}

.right-form {
    width: 250px;
    padding-bottom: 125px;
}
